div#container
	include header
	div.body.row
		div#blog
			div#blogpost
				h2 Mikä Höntsärinki on?
				p Kuinka saadaan sovittua urheiluhäppeninki nopeasti ja vaivattomasti kavereiden kanssa? Kuinka voi löytää urheiluseuraa?

				p Höntsärinki on palvelu joka käyttää hyväkseen google-maps karttapalvelua. Käyttäjä voi sopia uudesta aktiviteetista lisäämällä kartalle uuden tapahtuman. Tapahtumaa luotaessa määritellään tämän paikka ja aika sekä aktiviteetin tyyppi, ja kirjoitetaan kuvaus siitä mitä halutaan tehdä ja minkä tyylisten ihmisten kanssa. Määrittelyjen jälkeen tapahtuma ilmestyy kartalle ja on muiden palvelun käyttäjien nähtävissä

				p Mikäli käyttäjä haluaa löytää itselleen urheilutapahtumia hän pystyy selaamaan avoimia tapahtumia kartalla. Tapahtumia on myös mahdollista etsiä aktiviteetin luonteen tai päivämäärän mukaan.
				
				img(src='images/Team.jpg', alt='teamHöntsärinki', width='100%')
				p Team Höntsäringin Ville ja Mikko pistää peukkuja ilmaan Aalto HUBissa. Meidät tavoittaa sähköpostilla hontsarinki at gmail piste com.
				
		