div#container
	include header
	div.body.row
		div#blog
			div#blogpost
				h2 Ohjelman ensimmäinen toimintavalmis versio julkaistu!
				p 25 toukokuuta 2012 - Janne
				p Höntsärinki on nyt julkisessa käytössä! Bugit, kehitysehdotukset ja huomautukset sopimattomasta materiaalista voi edelleen lähettää osoitteeseen hontsarinki at gmail piste com.
			div#blogpost
				h2 Tapahtumien rajaus ajan tai tyypin mukaan
				p 15 toukokuuta - Janne
				p Tapahtumalistan ylälaidasta löytyy hakupalkki josta voi hakea tapahtumia päivämäärän tai tyypin perusteella.
				img(src='images/Screenshot2012-05-15.png', alt='image', width='100%')
				
			div#blogpost	
				h2 Tapahtumien listaus
				p 18 huhtikuuta - Janne
				p Kartan oikeassa laidassa on lista tapahtumista, niille jotka eivät halua selata niitä karttanäkymästä.
				img(src='images/Screenshot2012-04-18.png', alt='image', width='100%')
				
			div#blogpost
				h2 Tietokanta verkossa
				p 15 huhtikuuta - Janne
				p Jotta Nodesterilla pyörivä Höntsärinki olisi käytettävissä, myös tietokanta pitää siirtää verkkoon. 
					a(href='http://www.mongolab.com') MongoLab 
					r tarjoaa ilmaisen MongoDB tietokannan verkkopalveluna joten ei kun sitä testaamaan! Teimme aluksi kolme testitapahtumaa, joissa toisin kuin tällä hetkellä käytössä olevassa kovakoodatussa "tietokannassa" on kaikki ne tiedot joita alun perin suunnittelimme tapahtumille: Nimi, paikka, latitudi, longitudi, omistaja, ajankohta. Seuraavana vuorossa on näiden tietojen hyödyntäminen eli lataaminen muistiin kun käyttäjä tulee sivustolle.
				img(src='images/Screenshot2012-04-15.png', alt='image', width='100%')	 
				
			div#blogpost
				h2 Ohjelma siirretty verkkoon
				p 10 huhtikuuta 2012 - Janne
				p Saimme tilin palvelusta nimeltä 
					a(href='http://www.nodester.com') Nodester
					. Nodester on palvelu johon käyttäjät voivat ilmaiseksi ladata oman node.js -applikaationsa. Näinollen Höntsärinki on käytettävissä mistä vain osoitteessa 
					a(href='http://h-nts-rinki.nodester.com') h-nts-rinki.nodester.com
					! 
			div#blogpost
				h2 Grafiikat päivitetty!
				p 31 maaliskuuta 2012 - Janne
				p Olemme luoneet höntsäringille oman logon, joka näkyy myös tapahtumien kohdalla sinisen ikonin muodossa. Myös muita pienempiä päivityksiä on tehty, esimerkiksi nykyään voi avata korkeintaan yhden infoikkunan kerrallaan.
				img(src='images/Screenshot2012-04-17.png', alt='image', width='100%')
				
			
			div#blogpost
				h2 Kartan klikkaaminen luo tapahtuman
				p 29 maaliskuuta 2012 - Janne
				p Minkä tahansa kohdan klikkaaminen kartalla luo nyt uuden tapahtuman. Ikoni tietää oman sijaintinsa, joka näytetään esiin ponnahtavassa infoikkunassa latitudien ja longitudien muodossa. Infoikkuna voidaan sulkea ja avata uudelleen, jolloin tallennettu tieto näytetään. Luodut tapahtumat eivät vielä tallennu mihinkään tietokantaan ja häviävät näin kun käyttäjä poistuu sivustolta.
				img(src='images/Screenshot2012-03-31.png', alt='image', width='100%')
			
			div#blogpost
				h2 Maata näkyvissä!
				p 28 maaliskuuta 2012 - Janne
				p Google Maps -karttapohja on nyt näkyvissä nettisivulla. Sitä voi selata ja käyttää, mutta uusia tapahtumia ei voi vielä luoda koska kartan klikkaaminen ei tee mitään.
				img(src='images/Screenshot2012-03-28.png', alt='image', width='100%')
			
				//h2 Otsikko
				//div pvm kirjoittaja
				//div Blogi täällä moi