div.header.row
  div#header_col_left
    a(href="/")
      img(src="/images/Logo.png", alt="Logo", width=177, height=60)
  div#header_col_mid
    a(href="/blog") Blog
  div#header_col_right
    a(href="/about") About
