div#container
  include header
  div.body.row
      div#map_canvas
        script initialize()      
        if events
          each event in events
            script(type="text/javascript")
              placeMarker(!{JSON.stringify(event)}, map);
        if (event) 
            script(type="text/javascript")
              placeMarker(!{JSON.stringify(event)}, map);
      include infocolumn
