div.col#right_column
  br
  form(method='post', action='/')
    input(type='text', name='searched_date', value=searchdate_, id='input1', readonly='readonly')
    script(type="text/javascript", charset="utf-8")
      var k4 = new Kalendae.Input('input1', { months:1 });
    select(name='searched_type')
      each searchtype in searchtypes
        if(searchtype.type === searchtype_)
          option(value=searchtype.type, selected=true) !{searchtype.type}
        else
          option(value=searchtype.type) !{searchtype.type}
    input(type='submit', value='Hae')
  if(events)
    each event in events
      if(event.date === searchdate_)
        if(event.type === searchtype_ || searchtype_ === 'Kaikki')
            h2.eventtitle
              !{event.name}
        
            p.eventsubheader
              !{event.type}
              br
              !{event.date}
              br 
              KLO !{event.time}
              br
              @ !{event.place}
            p.eventdescription 
              !{event.desc}
            hr
      else
          h2.eventtitle
            !{event.name}
      
          p.eventsubheader
            !{event.date} · !{event.time} · !{event.type} @ !{event.place}
          p.eventdescription 
            !{event.desc} <b> - !{event.creator}</b>
          hr
