!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDHSbQgCEe1R2Qi3QG5NN6hkvJnkBMiL3E&sensor=true')
      
    script(type='text/javascript')
      
      PKSOverlay.prototype = new google.maps.OverlayView();
      
      function PKSOverlay(bounds, img, map) {
        this.bounds_ = bounds;
        this.img_ = img;
        this.map_ = map;
        
        this.div_ = null;
        this.setMap(map);
      }
      
      PKSOverlay.prototype.onAdd = function() {
        var div = document.createElement('DIV');
        div.style.borderStyle = 'dotted';
        div.style.borderWidth = 30 + 'px';
        div.style.position = 'absolute';
        
        var img = document.createElement('IMG');
        img.src = this.image_;
        img.style.width = '100%';
        img.style.height = '100%';
        img.style.position = 'absolute';
        div.appendChild(img);
        
        this.div_ = div;
        
        var panes = this.getPanes();
        panes.overlayImage.appendChild(div); 
      }
      
      PKSOverlay.prototype.draw = function() { 
        var overlayProjection = this.getProjection();
        
        var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
        var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());
        
        var div = this.div_;
        div.style.left = sw.x + 'px';
        div.style.top = ne.y + 'px';
        div.style.width = (ne.x - sw.x) + 'px';
        div.style.height = (sw.y - ne.y) + 'px'; 
      }
      
      PKSOverlay.prototype.onRemove = function() {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
      } 
      
      function initialize() {
        var myLatLng = new google.maps.LatLng(60.17342, 24.82236);
        var myOptions = {
          zoom: 15,
          center: myLatLng,
          mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        var map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
        
        var swBounds = new google.maps.LatLgn(60.16534, 24.820468);
        var neBounds = new google.maps.LatLng(60.171766, 24.836304);
        var bounds = new google.maps.LatLgnBounds(swBounds, neBounds);    
        var img = '/images/Koko_alue_1_2000.jpg';
        var overlay = new PKSOverlay(bounds, img, map);
        
      }
        
  body!= body