body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h2.eventtitle {
  color: #00b7ff;
  font: 14px "Lucida Grande", Helvetiva, Arial, sans-serif;
  font-weight: bold;
}
p.eventdescription {
  font: 10px "Lucida Grande", Helvetiva, Arial, sans-serif;
}
p.eventsubheader {
  font: 10px "Lucida Grande", Helvetiva, Arial, sans-serif;
  font-weight: bold;
}
a {
  color: #00b7ff;
}
a:link {
  text-decoration: none;
  font: 14px "Lucida Grande", Helvetiva, Arial, sans-serif;
  font-weight: bold;
}
.row,
.col {
  position: absolute;
}
.row {
  left: 0;
  right: 0;
}
.col {
  top: 0;
  bottom: 0;
}
.scroll-x {
  overflow-x: auto;
}
.scroll-y {
  overflow-y: auto;
}
.header.row {
  height: 75px;
  top: 0;
}
#header_col_left {
  position: absolute;
  width: 40%;
  height: 75px;
  top: 0px;
  padding: 10px;
}
#header_col_mid {
  position: absolute;
  width: 10%;
  minimum-width: 100px;
  margin-left: 40%;
  height: 75px;
  top: 0px;
  padding: 25px;
}
#header_col_right {
  position: absolute;
  width: 30%;
  margin-left: 50%;
  minimum-width: 100px;
  height: 75px;
  top: 0px !important;
  padding: 25px;
}
.body.row {
  top: 75px;
  background-color: #fff;
  bottom: 0px;
}
.footer.row {
  height: 50px;
  bottom: 0;
  background-color: #888;
}
#container {
  width: 100%;
}
#map_canvas {
  height: 100%;
  margin-right: 300px;
  top: 0px;
}
#right_column {
  height: 100%;
  float: right;
  width: 300px;
  top: 0px;
  right: 0px;
  overflow-x: auto;
  overflow-y: auto;
}
#blog {
  width: 100%;
}
#blogpost {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
